<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="https://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off" internalLogFile="${basedir}/logs/internal-nlog.log">

    <extensions>
    </extensions>

    <variable name="blockPadding" value="padding=5:fixedLength=true"/>
    <variable name="encoding" value="utf-8"/>
    <variable name="layout"
              value="[${threadid:${blockPadding}}][${longdate}][${uppercase:${level}:${blockPadding}}][${logger}]: ${message} ${exception:format=tostring}" />
    <variable name="minLogLevel" value="Info"/>

    <targets>
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${layout}"
                encoding="${encoding}" />
    </targets>

    <rules>
        <logger name="*" minlevel="${minLogLevel}" writeTo="console"/>
    </rules>
</nlog>
