root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
trim_trailing_whitespace = true

[*.{json,yml}]
indent_size = 2

[*.{markdn,markdown,md,mdown,mdtext,mdtxt,mdwn,mkd,mkdn,text}]
trim_trailing_whitespace = false

[*.cs]
dotnet_diagnostic.av1500.max_statement_count = 12
dotnet_diagnostic.av1561.max_parameter_count = 5
dotnet_diagnostic.av1561.max_constructor_parameter_count = 8

